
/*

    colors:

    weird color palette:

    orange: #0032db
    baby blue: #d3f5f5
    very light gray: #f2f3f4
    highlighter pink: #ff69b4
    light gray: #dbe2e9
    white: #ffffff
    

    frutiger-aero palette:

    blue: #0032db
    light-blue: #0689e4
    green: #71ab23
    yellow: #fbb905
    orange: #d55e0f

*/


li {

    list-style: none;    
}

a {

    text-decoration: none;
    color: #ffffff;
}


body {

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    height: 100vh;
    font-family: 'proxima-nova', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0032db;
    /* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px ), repeating-linear-gradient( #0032db55, #0032db ); */
}


footer {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #0032db;
    background-color: #ffffff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /* padding-bottom: 16px; */
}


#site-header {

    display: flex;
    justify-content: space-around;
    padding: 16px;
    color: #ffffff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    background-color: #0032db;
    font-weight: bold;
}




#nav-bar {

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}



#sub-header {

    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 16px;
    background-color: #ffffff;
    color: #ffffff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    /* opacity: 0.4; */
    
}


#main-content {

    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: center;

    border: solid;
    border-radius: 16px;
    color: #0032db;
    /* background-color: #ffffff; */
    background-image: url(assets/faerobg3.jpeg);
    background-size: cover;
    /* background-image: url(assets/faero.jpeg); */
}

#smilies {

    width: 80px;
    height: 76px;
    position: absolute;
    bottom: 70px;
    right: 30px;
}



.glass-green {

    position: relative;
    background-color: #71ab23;
    background-image: linear-gradient(#79d501, #99fb21);
    padding: 16px;
    border-radius: 16px;
}

.glass-green:after {

    content: '';
    position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    border-radius: 16px;
}

.glass-blue {

    position: relative;
    background-color: #0032db;
    background-image: linear-gradient(#0032db, #5767f7);
    padding: 16px;
    border-radius: 16px;
}

.glass-blue:after {

    content: '';
    position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    border-radius: 16px;
}

.glass-light-blue {

    position: relative;
    background-color: #0689e4;
    background-image: linear-gradient(#0689e4, #21abfb);
    padding: 16px;
    border-radius: 16px;
}

.glass-light-blue:after {

    content: '';
    position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    border-radius: 16px;
}


@font-face {
    font-family: 'proxima-nova';
    src: url(fonts/proxima-nova/proximanova_regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}









/* Unused stuff */



/* Circle Radius Texture CSS*/
/* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px ), repeating-linear-gradient( #0032db55, #0032db ); */


.rainbow {

    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
}


@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }

    
}




